.form {
    width: 430px;
    height: 330px;
    position: relative;
    background: #FFFFFF;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    text-align: center;
}

@media screen and (max-width: 600px) {
    .form {
        width: 282px;
        height: 322px;
    }
}