.album__text {
  display: flex;
  justify-content: space-between;
  margin: 22px 15px 0px 21px;
  box-sizing: border-box;
}

@media screen and (max-width: 600px) {
  .album__text {
    margin-top: 20px;
  }
}
