.profile__title {
  color: #ffffff;
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  margin: 0;
  margin-left: 35px;
  margin-top: 21px;
}

@media screen and (max-width: 600px) {
  .profile__title {
    font-style: normal;
    font-weight: 500;
    font-size: 27px;
    line-height: 33px;
    text-align: center;
    margin: 25px 0 0 25px;
  }
}
