.album {
  display: grid;
  grid-template-columns: 282px 282px 282px;
  grid-template-rows: 361px 361px;
  row-gap: 20px;
  column-gap: 17px;
  padding-top: 50px;
  overflow: hidden;
}

@media screen and (max-width: 900px) {
  .album {
    grid-template-columns: 282px 282px;
  }
}

@media screen and (max-width: 600px) {
  .album {
    grid-template-columns: 282px;
    grid-template-rows: 361px 361px 361px 361px 361px 361px;
    padding-top: 36px;
  }
}
