.profile__editing {
    width: 24px;
    height: 24px;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    margin-top: 37px;
    margin-left: 20px;
    display: flex;
    justify-content: center;
    align-content: center;
}

.profile__editing:hover {
    cursor: pointer;
    opacity: 0.6;
}

@media screen and (max-width: 600px) {
    .profile__editing {
        grid-row: 2/3;
        width: 18px;
        height: 18px;
        margin-top: 34px;
        margin-left: 10px;
        box-sizing: border-box;
    }
}