@import url(../vendor/normalize.css);
@import url(../vendor/fonts.css);
@import url(../blocks/wrapper/wrapper.css);
@import url(../blocks/header/__wrapper/header__wrapper.css);
@import url(../blocks/header/header.css);
@import url(../blocks/header/__logo/header__logo.css);
@import url(../blocks/profile/__image/profile__image.css);
@import url(../blocks/profile/profile.css);
@import url(../blocks/profile/__title/profile__title.css);
@import url(../blocks/profile/__subtitle/profile__subtitle.css);
@import url(../blocks/profile/__text/profile__text.css);
@import url(../blocks/profile/__image-editing/profile__image-editing.css);
@import url(../blocks/profile/__editing/profile__editing.css);
@import url(../blocks/profile/__title-container/profile__title-container.css);
@import url(../blocks/button/__image/button__image.css);
@import url(../blocks/button/button.css);
@import url(../blocks/popup/popup.css);
@import url(../blocks/form/form.css);
@import url(../blocks/form/__title/form__title.css);
@import url(../blocks/form/__text/form__text.css);
@import url(../blocks/form/__button/form__button.css);
@import url(../blocks/album/album.css);
@import url(../blocks/album/__container/album__container.css);
@import url(../blocks/album/__image/album__image.css);
@import url(../blocks/album/__like/album__like.css);
@import url(../blocks/album/__text/album__text.css);
@import url(../blocks/album/__title/album__title.css);
@import url(../blocks/page/page.css);
@import url(../blocks/popup/__body/popup__body.css);
@import url(../blocks/popup/__content/popup__content.css);
@import url(../blocks/popup/__close/popup__close.css);
@import url(../blocks/popup/_opened/popup_opened.css);
@import url(../blocks/popup/__close/_image/popup__close_image.css);
@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__copyrigth/footer__copyrigth.css);
