.button {
    width: 150px;
    height: 50px;
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-content: center;
    justify-self: end;
    align-self: center;
}

@media screen and (max-width: 900px) {
    .button {
        width: 580px;
        margin-top: 10px;
        grid-row: 3/4;
        grid-column: 1/5;

    }
}
@media screen and (max-width: 600px) {
    .button {
        width: 282px;
        margin: 33px auto 0 auto;
    }
}
.button:hover {
    opacity: 0.6;
    cursor: pointer;
}